body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p + p {
  margin-top: 0;
}

h3 {
  color: var(--primaryOne);
}

span {
  color: var(--primaryOne);
}

button.ui.button {
  background-color: var(--primaryFive);
  color: #fff;
}

button.ui.button.primaryButton {
  padding:  0.75rem 1.5rem;
  font-size: 1.25rem;
}

span.subtitle {
  margin-top: -1rem;
}

.ui.menu .item {
  transition: none !important;
}

.ui.buttons .button.ui.button {
  border: 2px solid #fff !important;
  border-width: 0 2px 0 2px !important;
}

.steps.neu {
  border: 1px solid var(--primaryFour);
}

.steps.neu div.step {
  background-color: var(--greyTwo);
}

.steps.neu div.step.complete {
  background-color: var(--goodTwo);
}

.neu .dropdown.icon {
   /*box-shadow: 2px 2px 5px #b8b9be, -3px -3px 7px #eee;*/
}

div.custom-icon {
  background-size: contain;
}

div.custom-icon.large {
  width: 50px;
  height: 50px;
}

div.custom-icon.logo {
  background-image: url('/bellum_logo.png');
}

div.custom-icon.fight {
  background-image: url('/fight.png');
}
div.custom-icon.fight.primary {
  background-image: url('/fight_primary.png');
}
div.custom-icon.fight.secondary {
  background-image: url('/fight_secondary.png');
}

div.custom-icon.shoot {
  background-image: url('/shoot.png');
}
div.custom-icon.shoot.primary {
  background-image: url('/shoot_primary.png');
}
div.custom-icon.shoot.secondary {
  background-image: url('/shoot_secondary.png');
}

div.custom-icon.resil {
  background-image: url('/resil.png');
}
div.custom-icon.resil.primary {
  background-image: url('/resil_primary.png');
}
div.custom-icon.resil.secondary {
  background-image: url('/resil_secondary.png');
}

div.custom-icon.control {
  background-image: url('/control.png');
}
div.custom-icon.control.primary {
  background-image: url('/control_primary.png');
}
div.custom-icon.control.secondary {
  background-image: url('/control_secondary.png');
  background-position:  
}

.ui.card {
  margin-top: 1rem;
}

.ui.modal {
  max-width: 500px;
}

table.ui.table {
  position: block;
  width: 100%;
  background-color: var(--greyZero) !important;
}

table.ui.table thead th {
  background-color: var(--greyZero) !important;
  color: var(--greyThree);
  font-weight: bold;
  font-size: 0.9rem;
  position: sticky;
  top: 0;
  text-align: center;
  padding: 0.5rem;
  box-shadow: 4px 4px 4px #b8b9be;
}

table.ui.table tr td {
  background-color: none !important;
  text-align: center;
}

div.table-empty-message {
  padding: 1rem ;
  text-align: center;
  width: 100% !important;
}

.ui.card {
  background-color: var(--greyZero);
}

.neu.dropdown.button.floating {
  box-shadow: 2px 2px 5px #b8b9be, -3px -3px 7px #eee !important;
  background-color: var(--greyOne) !important;
  vertical-align: middle;
}

.neu.dropdown.button.floating .text {
  padding: 0.75rem 0 0 1rem;
}

.horizontal.divider:after {
  display: none !important;
}

/* THEME COLORS */
:root {
  --greyZero: #fcfcff; /* cards */
  --greyOne: #f7f3f3; /* background */
  --greyTwo: #c9c3c4;
  --greyThree: #bab5b5;
  --greyFour: #807d7d;
  --greyFive: #4b4949;
  --greySix: #1c1b1b;
  --greySeven: #080405;

  --primaryOne: #2e1013;
  --primaryTwo: #571f25;
  --primaryThree: #842e38;
  /*--primaryFour: #b43f4a;*/
  --primaryFour: #b54853;
  --primaryFive: #e6505d;

  --accentOne: #f9f9f9;
  --accentTwo: #f9f9f9;
  --accentThree: #f9f9f9;
  --accentFour: #f9f9f9;
  --accentFive: #3ad0ef;


  --goodOne: #e3fcec;
  --goodTwo: #a8eec1;
  --goodThree: #249d57;
  --goodFour: #187741;
  --goodFive: #155239;
}