
div.seamless-container {
	z-index: 1;
	vertical-align: middle !important;
	text-align: center;
}

.splashctrl-container-mid {
	background-color: #f1f3f8;
	margin: auto;
	max-width: 55rem;
	margin-top: 150px;
}

.seamless-container .button {
	/*background-color: #0f4c75 !important;*/
	background-color: var(--primaryFive) !important;
	color: #fff !important;
}

div.unit-popup {
	position: absolute !important;
	width: 12rem !important;
	opacity: 90% !important;
	background-color: #3ad0ef !important;
	z-index: 150 !important;
	box-shadow: -4px -4px 20px 10px rgba(58, 208, 239, 0.5) !important;
}