div.ui.overlay.top.visible.sidebar.db-sidebar {
  width: 35rem !important;
  height: 25rem;
  margin-left: 4rem;
  margin-top: 5rem !important;
  z-index: 1 !important;
  box-shadow: none;
}

.db-sidebar .db-sidebar-main-contents {
	float: left;
	margin-left: 3rem;
	border: 1px solid red;
}
div.ui.menu.db-header {
	background-color: rgb(0, 0, 0, 0.1);
}
