.App .dashboard {
	height: 100%;
	/*background-color: #1b262c;*/
	background-color: #0c0c0c;
}

.dashboard .ui.db-header.menu {
	background: transparent !important;
	position: fixed;
	top: 0;
	left: 0;
	border: none !important;
	box-shadow: none !important;
	width: 100%;
}

.dashboard .ui.db-header.menu .item {
	border: none !important;
	box-shadow: none !important;
}

div.ui.overlay.top.visible.sidebar.db-sidebar {
	height: 25rem;
	margin-left: 4rem;
	margin-top: 5rem !important;
	z-index: 2 !important;
	box-shadow: none;
}

.db-sidebar .myt-pane.db-sidebar-menu {
	float: left;
	margin-left: 3rem !important;
}

.db-sidebar .myt-pane {
	margin-top: 0rem !important;
	/*border: 1px solid red;*/
	padding: 1rem;
}

.myt-pane .myt-pane-header .custom-header-container {
	font-size: 1.5rem !important;
	padding: 0.5rem !important;
	font-weight: bold;
}

.db-sidebar .tab.active.segment {
	margin-top: 0;	
	padding: 0;
	background: transparent;
}

.db-sidebar .tab .myt-pane {
	width: 100%;
}

.db-sidebar .db-small-pane-container {
	margin-top: 3.8rem !important;
}

.db-sidebar .db-small-pane-container .row {
	margin-bottom: 1rem !important;
}

div.ui.menu.db-header {
	background-color: rgb(0, 0, 0, 0.1);
}

.myt-pane.my-add-event {

}
.myt-pane div.ui.grid {
	padding: 1rem !important;
}