.contents-container {
	background-color: var(--greyOne);
	background: ;
	position: absolute;
	width: auto;
	padding: 1rem !important;
	border-radius: 5px;
	text-align: left;
	overflow: auto;
}


.contents-container > .grid {
	margin: 0 !important;
}
.contents-container.Match {
	display: flex;
	flex-direction: row !important;
}

.contents-container.Splash h2 {
	margin: 0;	
}

.contents-container.Splash ul {
	margin-top: 0.5rem !important;	
}

.contents-container div.ui.buttons {
	margin-top: 1rem;
}

.contents-container .button {
	background-color: var(--primaryFive);
}

.contents-container .horiz-button-container {
	position: absolute;
	right: 0;
	top: -3rem;
	height: 3rem !important;
}

.contents-container .top-right-container {
	z-index: 101;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.contents-container .bot-right-container {
	z-index: 101;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

.contents-container .telemetry-comp-container {
	width: 100%;
}

.telemetry-comp-container div.scrollable-box  {
	overflow-y: auto;
}

.scrollable-box .telem-item {
	box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #fff;
	margin-bottom: 0.5rem;
	border: 1px solid var(--greyThree);
	border-radius: 3px;
	padding: 0 0.25rem;
}

.contents-container svg.bar-chart-container {
	box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #fff;
}

.contents-container.PreMatch .ui.menu  {
	text-align: center !important;
}

.ui.menu div.tab-menu-item  {
	vertical-align: top !important;
    display: inline-block !important;
    text-align: center;	
	box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #fff !important;
	margin: 0 2rem !important;
	border: 1px solid var(--greyTwo) !important;
	width: 7.5rem;
	height: 7.5rem;
	font-weight: bold;
	color: var(--primaryOne);
	cursor: pointer;
	background-color: var(--greyZero);
}

.ui.menu div.tab-menu-item.inline  {
	margin: 0 auto !important;
	height: auto;
	width: auto;
}

.ui.menu div.tab-menu-item:hover   {
	background: rgba(0,0,0,0.05) !important;
}

.ui.menu div.tab-menu-item.active {
	/*background: none !important;*/
}
.ui.menu div.tab-menu-item.active i {
	color: var(--primaryFive);
}

.ui.menu div.tab-menu-item.active span {
	color: var(--primaryFive);
	font-weight: bold;
}

.ui.menu div.tab-menu-item.active.secondary span {
	color: var(--accentFive);
}

.ui.menu div.tab-menu-item.active.secondary i {
	color: var(--accentFive);
}

.tab-menu-item .custom-icon {
	margin: 0.5rem auto 0.5rem auto;
}

.tab-menu-item span {
	display: block;
}

.ui.force-card.card {
	box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
	height: 100% !important;
	width: 100%;
	display: flex;
	flex-direction: row !important;
	padding: 0.5rem;
}

.ui.force-card.card .fc-header-container {
	width: 300;
	height: 100%;
}

.ui.force-card.card .fc-table-container {
	overflow-y: auto;
	flex-grow: 1;
}

div.row.prematch-header-row {
	padding: 0 !important;
}

div.row.prematch-force-row .column {
	min-height: 
	/*padding-top: 0 !important;*/
}

/*
.contents-container .horiz-button-container .button:not(.disabled):after {
	border-color: var(--primaryFive)
}
*/

.table-control.button {
	float: left;
	padding: 0.4rem 1rem !important;
	margin-bottom: 0.5rem !important;
}

.contents-container  .ui.cards {
	width: 100%;
}

.contents-container  .ui.cards > div {
	width: 100%;
}
.contents-container  .ui.card.chart-card {
	width: 300px;
	height: 200px;
	padding: 1rem;
	display: inline-block;
	margin: 1rem;
}

.contents-container  .ui.card.chart-card .header h3 {
	margin: 0 !important;
}

.contents-container  .ui.card.chart-card .header .icon.info {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	color: var(--greyFour);
}

.contents-container  .ui.card.chart-card div.content {
	padding: 0;
}

.contents-container  .ui.card.chart-card .chart-card-item-container {
	float: right !important;
	text-align: right;
}

.contents-container  .ui.card.chart-card .chart-card-item-container .chart-card-cfg-item {
	padding: 0.25rem 0;
}

.contents-container  .ui.card.chart-card .chart-card-item-container .chart-card-cfg-item .title {
  color: var(--greyThree);
  font-weight: bold;
  font-size: 0.9rem;
}

.contents-container  .ui.card.chart-card .chart-card-item-container .chart-card-cfg-item span.primary {
	color: var(--primaryFive);
	font-weight: bolder;
	font-size: 1.5rem;
}
.contents-container  .ui.card.chart-card .chart-card-item-container .chart-card-cfg-item span.secondary {
	color: var(--accentFive);
	font-weight: bolder;
	font-size: 1.5rem;
}

.contents-container .ui.menu.phase-control {
	position: absolute;
	margin: 0;
	left: 0;
	top: 0;
	height: 100%;
	width: 12rem;
}


.contents-container div.match-phase-content {
	flex-grow: 1;
	margin-left: 12rem;
	padding: 0 1rem;
}

.contents-container div.match-tabs {
	width: 35%;
	min-width: 500px;
	margin-top: 4rem;
}

.match-phase-content > div {
	height: 100%;
}

.setup-content div.setup-option {
	display: block;
	margin: 1rem auto;
	width: max-content;
}

.setup-content div.setup-option > div:first-child {
  color: var(--greyThree);
  font-weight: bold;
  font-size: 0.9rem;
}

.setup-content div.setup-option .ui.dropdown.mission-dropdown {
	margin: 0 3.5px 0.5rem 0 !important;
}

.match-tabs .victory-point-summary { 
	text-align: center;
}

.match-tabs .victory-point-summary .top { 
	width: 50% !important;
	float: left;
}

.match-tabs .victory-point-summary .bottom { 
	width: 50% !important;
	float: left;
}

.match-tabs .victory-point-summary .total-primary { 
	font-size: 3rem;
}
.match-tabs .victory-point-summary .total-secondary { 
	font-size: 3rem;
}

.match-tabs .victory-point-summary .under-title { 
	color: var(--greyThree);
	display: block;
	text-align: center;
	font-weight: bold
}

.match-tabs .victory-point-summary .total-primary.active { 
	color: var(--primaryFive);
}
.match-tabs .victory-point-summary .total-secondary.active { 
	color: var(--accentFive);
}

.objective-controls > div {
	display: block;	
}

.input.inline-input {
	max-width: 4rem;
}
.input.inline-input input {
	padding: 0.4rem 1rem !important;
}
